.titlecont h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(240, 240, 240);
    margin-left: 20px;
    margin-bottom: 0;
}

.titlecont div {
    height: 50px;
    border-radius: 3px;
    background: url(https://i.ibb.co/jJvhP3Q/Sin-t-tulo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    backdrop-filter: blur(7px);
    margin-bottom: 20px;
}