//variables de color sass
$color_background : #22223B;
$color_button_background_secondary : #fff;
$color_button_background_primary : #4A4E69;
$text_color_primary : #FFFFFF;
$text_color_secondary : #22223B; 
$text_color_warning : red;
$input_border_color_warning : red;
$text_color_input : #727296; 
$color_primary: $color_background;
$color_secondary: $color_button_background_primary;
$color_tertiary: #9a8c98ff;
$color_quaternary: #c9ada7ff;
$color_quinary: #f2e9e4ff;