@use '../../assets/VariablesStyle/color.scss'  as color;
@use '../../assets/VariablesStyle/size.scss'  as size;
@use '../../assets/VariablesStyle/fontFamily.scss'  as font;

.shopping{
    width:100vw;
    max-width: 1900px;
    height: 100vh;
    background-color: color.$color_primary;
    position: relative;

    .shopping__container{
        position: absolute;
        width: 100%;
        margin-top: 120px;
        height: 80%;
        padding: 0 100px;
        .shopping__container__title{
            font-family: font.$font_text;
            font-size: 1.5rem;
            text-align: right;
            font-weight: 700;
            color: color.$text_color_primary;
        }
        .shopping__container__body{
            width: 100%;
            height: auto;
            display: flex;
            .shopping__container__body-data{
                width: 50%;
                padding-top: 30px;
            }
            .shopping__container__body-img{
                width:50%;
                display: flex;
                justify-content: center;
                img{
                    width: auto;
                    height: 461px;
                }

            }
        }
    }
}