@use '../../assets/VariablesStyle/color.scss'  as color;
@use '../../assets/VariablesStyle/size.scss'  as size;
@use '../../assets/VariablesStyle/fontFamily.scss'  as font;

.shopping{
    width:100vw;
    max-width: 1900px;
    height: 100vh;
    background-color: color.$color_primary;
    position: relative;

    .shopping__container{
        position: absolute;
        width: 100%;
        margin-top: 120px;
        height: 80%;
        padding: 0 100px;
        .shopping__container__body{
            width: 100%;
            height: auto;
            display: flex;
            .shopping__container__body-data{
                width: 750px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
                overflow: auto;
                animation: TablaShopping 1s ease-in-out;
                animation-iteration-count: 1;
                .shopping__table{
                    width:100%;
                    height:100%;
                    .shopping__table-header{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        margin-bottom: 1rem;

                        h1{
                            color: color.$text_color_primary;
                            font-family: font.$font_text;
                            font-size: 1.5rem;
                            font-weight: 700;
                        }

                        select{
                            width: 180px;
                            height: 35px;
                            border-radius: size.$size_corners_inputs;
                            border: 2px solid color.$color_secondary;
                        }
                    }
                    span{
                        cursor: pointer;
                        &:active{
                            svg{
                                transform: scale(0.9);
                            }
                        }
                    }
                }
            }
            .shopping__container__body-img{
                width:50%;
                display: flex;
                justify-content: left;
                animation: imgShopping 1s ease-in-out;
                animation-iteration-count: 1;
                img{
                    width: auto;
                    height: 461px;
                }

            }
        }
    }
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select{
    display: none !important;
}
.css-levciy-MuiTablePagination-displayedRows{
    display: none !important;
}
.css-pdct74-MuiTablePagination-selectLabel{
    display: none !important;
}
.css-1mbunh-MuiPaper-root{
    overflow: auto !important;
    height: 400px !important;
}
.product-order{
    color:rgb(16, 169, 175) !important;
    transition: all .3s ease-in-out !important;
    &:hover{
        color:rgb(14, 247, 255) !important;
        transform: scale(1.1) !important;
    }
}

@keyframes imgShopping{
    0%{
        transform: translateX(-200px);
        opacity: 0.1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes TablaShopping{
    0%{
        transform: translateX(200px);
        opacity: 0.1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}