.arrowDown__svg{
    animation: down 0.6s linear forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.arrowDown{
    animation: sotelino 15s linear forwards 1;
}


@keyframes down{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(15px);
    }
}

@keyframes sotelino{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

