.title {
  font-size: 36px;
  font-weight: 1000;
  margin-left: 14px;
  position: relative;
  bottom: 5px;
}

.titleS {
  font-size: 1.5em;
  color: rgb(44, 176, 163);
}

.active {
  transition: "All 5s";
  transform: translateY(0%);
  backdrop-filter: blur(7px);
}

.hidden {
  transition: "All 5s";
  transform: translateY(-100%);
  backdrop-filter: blur(7px);
}

nav {
  border-radius: 10px;
  background-color: #ffffff4a;
}

.background {
  background-color: #ffffff66;
}

.background a,
.background span {
  color: black;
}
