@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

.title {
  font-size: 4.5rem;
  font-weight: 600;
  margin-left: 14px;
  margin-top: 10px;
  line-height: 0;
  position: relative;
  font-family: 'Bilbo', cursive;
  color: white;
  bottom: 5px;
}

.titleS {
  font-size: 1.5em;
  color: rgb(44, 176, 163);
}

.active {
  transition: "All 5s";
  transform: translateY(0%);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 0;
  width: 100vw;
}

.hidden {
  transition: "All 5s";
  transform: translateY(-100%);
  backdrop-filter: blur(7px);
}

nav {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.background {
  background-color: rgba(34, 34, 59, 1);
  box-shadow: 5px 5px 5px #ffffff9a;
}

.background a,
.background span {
  color: white;
}
