input {
height: 35px;
 width: 32rem;
padding:15px ;
margin-right: 1rem;
border-radius: 15px;
background-color:rgb(248, 232, 234);
margin-top: 20px;
color: black ;

}

img{
    width: 30px;
    height: 30px;

}
