.btn {
    background-color: #4A4E69;
    width: 250px;
    font-size: medium;
    height: 40px;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
    ;
    margin-top: 10px;
}

.btn:hover {
    background-color: #9A8C98;
    transform: scale(1.05);
}

.price {
    font-size: large;
    color: white;
    text-align: end;
    left: 10px;
    top: 20px;
    font-size: xx-large;
}