body {
  background-color: #22223b;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


.banner{
  width: 100vw;
}
/* .banner__text{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
} */

.banner__img{
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-height: 900px;
  margin: 0 auto;
}

.banner__img_fondo{
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 900px;
  margin: 0 auto;
  animation: sotelinoBackhround 10s infinite linear; 
  animation-direction: alternate;

}

.banner__img_sotelino{
  width: 78%;
  min-height: 670px;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: sotelino  20s infinite linear; 
  animation-direction: alternate;
}

@keyframes sotelinoBackhround{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.2);
  }
}


/* @keyframes sotelino{
  0%{
    width: 78%;
  }
  25%{
    width: 77%;
  }
  50%{
    width: 76%;
  }
  75%{
    width: 74%;
  }
  100%{
    width: 74%;
  }
} */

/* @keyframes sotelino{
  0%{
    transform: scale(1);
    left: 0;
  }
  50%{
    transform: scale(0.9);
    left: 0;
  }
  100%{
    transform: scale(0.8);
    left: 0;
  }
} */
