@use '../../assets/VariablesStyle/color.scss'  as color;
@use '../../assets/VariablesStyle/size.scss'  as size;
@use '../../assets/VariablesStyle/fontFamily.scss'  as font;
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

@mixin baseFormElemts ($width, $height){
    width: $width;
    height: $height;
}

.registry{
    margin: 0 auto;
    width: 100vw;
    background-color: color.$color_background;
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .header{
        margin-top: 0.8%;
        width: 98%;
        height: 70px;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(10px);
        border-radius: size.$size_corners;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 50px;
        a{
            font-family: 'Play', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            color: color.$text_color_primary;  
        }
    }

    .registry__container{
        margin-top: 30px;
        background-color: color.$color_quaternary;
        width: size.$size_width_container_login;
        height: 532px;
        border-radius: size.$size_corners;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

        .registry__container__form{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .registry__container__form__title{
                @include baseFormElemts (100%, 50px);
                background-color: color.$color_button_background_primary;
                h1{
                    font-family: font.$font_text;
                    font-size: 1.5rem;
                    font-weight: normal;
                    color: color.$text_color_primary;
                    text-align: center;
                    line-height: 50px;
                }
            }
    
            .registry__container__form__inputs{
                @include baseFormElemts (357px, 249px);
                margin-top: 13px;
                margin-bottom: 29px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    
            .registry__container__form__buttons{
                @include baseFormElemts (357px, 113px);
                margin-bottom: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .registry__container__Login{
            @include baseFormElemts (357px, 20px);
            margin-bottom: 22px;
            text-align: left;

            span{
                font-family: font.$font_text;
                font-size: 0.75rem;
                font-weight: font.$font_Weight_text;
                color: color.$text_color_secondary;
                text-align: left;
                line-height: 20px;
            }


            a{
                text-decoration: underline;
                font-family: font.$font_text;
                font-weight: 900;
                font-size: 0.75rem;
                color: color.$text_color_primary;
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }

}